{% extends "base1.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron">
            <img class="about_image" src="{% static 'img/about.jpeg' %}" style="width:100%;"/>
        <div class="feature_description">
            <h4>عن المجلة</h4>
              <h4>About Alnakheel</h4>
        </div>
    </div>
    <br>
    <p>أُطلقت مجلة النخيل في أغسطس ٢٠٢٠م، هدفها توفير منصة لكتابات طلبة جامعة نيويورك أبوظبي باللغة العربية، كما نعمل على إبراز مواهب الطلبة الناطقين بالعربية وغير الناطقين بها، حيث تُدار المجلة من قبل مجموعة من طلبة الجامعة.</p>
    <p>
        للمشاركة بكتاباتكم، يرجى إرسالها على البريد الإلكتروني التالي: aah610@nyu.edu
ملاحظة: يمكن للطلبة والأساتذة والموظفين والعاملين بجامعة نيويورك أبوظبي فقط المشاركة بكتاباتهم حاليًا، نتطلع لتوسيع دائرة المشاركة في الأعداد القادمة ابتداء من أغسطس ٢٠٢١.

    </p>
    <br>
    <h5 style="text-align: center;">التسمية</h5>
    <h5 style="text-align: center;">Our Name</h5>
    <p>النخلة رمز الأصالة والصمود في الثقافة الإماراتية، كما أنها شجرة مباركة في الدين الإسلامي حيث ورد ذكرها في القرآن الكريم في مواضع عدة، ولجامعة نيويورك أبوظبي علاقة فريدة بالنخيل، حيث إن أشجار النخيل تقع أمام مركز حرم الجامعة، وهي محطة التقاء العقول والثقافات التي تمثل فلسفة الجامعة وبلدنا الإمارات.</p>
    <br>
    <h5 style="text-align: center;">فريق العمل </h5>
    <h5 style="text-align: center;"> Our Team</h5>
    <p>
       <ul>
            <li><p>الريم الحوسني - مؤسس ورئيس التحرير</p></li>
            <li><p>Al Reem Al Hosani, Founder and Editor in Chief</p></li>
            <br>
            <li><p>عبدالله المرزوقي - مدير التحرير وكاتب عمود</p></li>
            <li><p>Abdulla Almarzooqi, Editor in Chief and Columnist</p></li>
            <br>
            <li><p>مريم الشحي - مدير التحرير وكاتب</p></li>
            <li><p>Maryam Al Shehhi,  Managing Editor and Writer</p></li>
            <br>
            <li><p>لورن مكميلن - مطور الموقع</p></li>
            <li><p> Lauren McMillen, Website Developer</p></li>
        </ul>
    </p>
    <br>
    <p>ملاحظة من المحررين: نقبل المشاركات التي تندرج تحت إحدى الفئات التالية:</p>
    <ul>
        <li><p>الفنون</p></li>
        <li><p>كتاب قرأته</p></li>
        <li><p>فيلم شاهدته</p></li>
        <li><p>رحلات وتجارب</p></li>
    </ul>
    <p>ومن ضمن شروط المشاركة عدم التعرض للموضوعات الجدلية التي تتعلق بالسياسة أو الدين.</p>
    <br>
    <p>*الصورة في هذه الصفحة من تصوير Prince Steven Annor</p>
    <p>*شعار المجلة من تصميم Tom Abi Samra</p>


</div>


{% endblock %}