{% extends "base1.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron">
            <img class="about_image" src="{% static 'img/palmtrees1.jpg' %}" style="width:100%;"/>
        <div class="feature_description">
              <h4>About Al Nakheel</h4>
                <h4>عن المجلة</h4>
        </div>
    </div>
    <br>
    <p> صحيفة نصف سنوية أُطلقت في أغسطس ٢٠٢٠م، تهدف لتوفير منصة لكتابات طلبة جامعة نيويورك أبوظبي باللغة العربية، نعمل على إبراز المواهب الدفينة للناطقين بالعربية كاللغة الأم أو كلغة ثانوية، تُدار الصحفية من قبل مجموعة من الطلبة من مختلف المراحل/السنوات.
        لتقديم كتاباتكم يرجى إرسالها على البريد الإلكتروني التالي: aah610@nyu.edu ملاحظة: يمكن للطلبة و الأساتذة و العاملين بجامعة نيويورك أبوظبي فقط المشاركة بكتاباتهم حاليًا، نتطلع لتوسيع دائرة الكتاب في المستقبل.

        فريقنا:
        الريم الحوسني - رئيسة التحرير و كاتبة
        عبدالله المرزوقي - مدير التحرير و كاتب عمود
        لورن مكميلن - مطورة الموقع
    </p>
</div>


{% endblock %}