<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>النخيل - Alnakheel</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Katibeh&family=Mirza&display=swap" rel="stylesheet">
        <link rel="stylesheet" href= "{% static 'css/style2.css' %}">


         <script type = "text/javascript">
               $(document).ready(function () {
              var trigger = $('.hamburger'),
                  overlay = $('.overlay'),
                 isClosed = false;

                trigger.click(function () {
                  hamburger_cross();
                });

                function hamburger_cross() {

                  if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                  } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                  }
              }

              $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
              });
            });
        </script>
    </head>
    <body>

    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home' %}">النخيل</a>
                </li>
                 <li>
                    <a href="{% url 'about' %}">About - عن المجلة</a>
                </li>
                <li>
                    <a href="{% url 'shortstories' %}">Short Stories - قصص قصيرة</a>
                </li>
                <li>
                    <a href="{% url 'books' %}">Book Reviews - كتاب قرأته</a>
                </li>
                <li>
                    <a href="{% url 'films' %}">Film Reviews - فيلم شاهدته</a>
                </li>
                <li>
                    <a href="{% url 'interviews' %}">Interviews - لقاء العدد</a>
                </li>
                 <li>
                    <a href="{% url 'travel' %}">Travel & Experiences - رحلات وتجارب</a>
                </li>
                <!--<li class="dropdown">-->
                  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li class="dropdown-header">Dropdown heading</li>-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                  <!--</ul>-->
                <!--</li>-->

            </ul>
        </nav>
    </div>



      <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>


      </div>

    <a href="{% url 'home' %}"><img src="{% static 'img/logo6.png' %}" style="position:relative;left:70%;top:-20px;"></a>








        <!-- /#sidebar-wrapper -->



        {% block content %}



        {% endblock content %}
        <!-- Footer -->

    </body>
</html>