{% extends "base1.html" %}
{% block content %}
{% load static %}



 <!-- Page Content -->

            <div class="container">
                <div class="row">
                    <div class="jumbotron">
                        {% for post in post_list %}
                            {% if post.isCurrentFeature %}
                        <img class="feature_image" src="{{ post.image.url }}"/>
                        <a href="{% url 'post_detail' post.slug  %}">
                            <div class="feature_title">
                                {{ post.title }}
                            </div>
                        </a>
                        <div class="feature_description">
                            {{ post.description }}
                        </div>
                        <div class="feature_author">
                            {{ post.author }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <section class="cards">
                <!--   card 1 -->
                    {% for post in post_list %}
                        {% if post.isFeature1 %}
                  <article class="card">
                    <picture>
                         <img class="category__01" src="{{ post.image.url }}" alt="" />
                    </picture>
                    <div class="card-content">
                        <p class="category category__01">{{post.category}}</p>
                        <a class= "card_title" href="{% url 'post_detail' post.slug  %}"><h2>{{ post.title }}</h2></a><
                        <p class="card_description">{{ post.description }}</p>
                        <h3 class="card_author">{{ post.author }}</h3>
                   </div>
                    <footer>
                      <div class="post-meta">
                        <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                        </div>
                    </footer>
                  </article>
                    {% endif %}
                    {% endfor %}

                    {% for post in post_list %}
                    {% if post.isFeature2 %}
                     <article class="card">
                    <picture>
                         <img class="category__01" src="{{ post.image.url }}" alt="" />
                    </picture>
                    <div class="card-content">
                        <p class="category category__01">{{post.category}}</p>
                        <a class= "card_title" href="{% url 'post_detail' post.slug  %}"><h2>{{ post.title }}</h2></a><
                        <p class="card_description">{{ post.description }}</p>
                        <h3 class="card_author">{{ post.author }}</h3>
                   </div>
                    <footer>
                      <div class="post-meta">
                        <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                        </div>
                    </footer>
                  </article>
                    {% endif %}
                    {% endfor %}

                    {% for post in post_list %}
                        {% if post.isFeature3 %}
                    <article class="card">
                     <picture>
                         <img class="category__01" src="{{ post.image.url }}" alt="" />
                    </picture>
                    <div class="card-content">
                        <p class="category category__01">{{post.category}}</p>
                         <a class= "card_title" href="{% url 'post_detail' post.slug  %}"><h2>{{ post.title }}</h2></a><
                        <p class="card_description">{{ post.description }}</p>
                        <h3 class="card_author">{{ post.author }}</h3>
                   </div>
                    <footer>
                      <div class="post-meta">
                        <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                        </div>
                    </footer>
                  </article>
                    {% endif %}
                    {% endfor %}

            </section>
            </div>

                {% endblock %}