{% extends "base1.html" %}
{% load static %}
{% block content %}

   <section class="cards detail">
                <!--   card 1 -->
                   {% for post in post_list %}
                        {% if post.category == 'لقاء العدد' %}
                  <article class="card">
                    <picture class="thumbnail">
                         <img class="category__01" src="{{ post.image.url }}" alt="" />
                    </picture>
                    <div class="card-content">
                        <a class= "card_title" href="{% url 'post_detail' post.slug  %}"><h2>{{ post.title }}</h2></a><
                        <p class="card_description">{{ post.description }}</p>
                        <h3 class="card_author">{{ post.author }}</h3>
                   </div>
                    <footer>
                      <div class="post-meta">
                        <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                        </div>
                    </footer>
                  </article>
                    {% endif %}
                    {% endfor %}

   </section>

{% endblock %}

