

{% extends 'base1.html' %}
{% load static %}
{% block content %}



<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-10 mt-9 left  top">
      <div class="card_body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <img class="image_detail img-fluid" src="{{ post.image.url }}"/>
        <p class="card_text ">{{ object.content | safe }}</p>
      </div>
    </div>
</div>
</div>
</div>


{% endblock %}
